<h1>Carrinho de Compras</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-center col-md-1"></th>
            <th class="text-center">Item</th>
            <th class="text-center col-md-1">Quantidade</th>
            <th class="text-center col-md-2">Preço</th>
            <th class="text-center col-md-2">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.items">
            <td class="text-center col-md-1"><img src="" alt="{{ item.title }}" /></td>
            <td class="">{{ item.title }}</td>
            <td class="text-center col-md-1"><input type="number" class="form-control" ng-model="item.quantity" ng-change="vm.updateQuantity(item)" min="1" /></td>
            <td class="text-center col-md-2">{{ item.price | currency: 'BRL' }}</td>
            <td class="text-center col-md-2">{{ (item.price * item.quantity) | currency: 'BRL' }}</td>
            <td class="text-center">
                <div class="btn-group">
                    <button class="btn btn-group btn-danger btn-sm" ng-click="vm.remove(item)">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <h3 class="text-right">{{ vm.total | currency: 'BRL' }}</h3>
            </td>
        </tr>
    </tfoot>
</table>

<br />
<button>FINALIZAR PEDIDO</button>