<h3>Novo Produto</h3>
<div class="form-group" ng-class="{ 'has-error': title.$invalid && title.$dirty }">
    <label for="category">Categoria</label>
    <select class="form-control" ng-model="vm.product.category" id="category" name="category">
        <option value="{{ category.id }}" ng-repeat="category in vm.categories">{{ category.title }}</option>
    </select>
</div>
<div class="form-group" ng-class="{ 'has-error': title.$invalid && title.$dirty }">
    <label for="title">Título</label>
    <input type="text" value="" class="form-control" ng-model="vm.product.title" ng-minlength="3" ng-maxlength="100" id="title" name="title" placeholder="Título" required />
</div>
<div class="form-group" ng-class="{ 'has-error': description.$invalid && description.$dirty }">
    <label for="description">Descrição</label>
    <input type="text" value="" class="form-control" ng-model="vm.product.description" ng-minlength="5" ng-maxlength="1024" id="description" name="description" placeholder="Descrição" required />
</div>
<div class="form-group" ng-class="{ 'has-error': price.$invalid && price.$dirty }">
    <label for="price">Preço</label>
    <input type="number" value="" class="form-control" ng-model="vm.product.price" id="price" name="price" placeholder="Preço" required />
</div>
<div class="form-group" ng-class="{ 'has-error': quantityOnHand.$invalid && quantityOnHand.$dirty }">
    <label for="quantityOnHand">Quantidade em estoque</label>
    <input type="number" value="" class="form-control" ng-model="vm.product.quantityOnHand" id="quantityOnHand" name="quantityOnHand" placeholder="Quantidade em estoque" required />
</div>